    <table  class="w-full border border-gray-300 text-sm text-left text-gray-500 dark:text-gray-400">
        <thead  class=" text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th>S.NO</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Education</th>
                <th></th>
                <th></th>
               
            </tr>
        </thead>

        <tbody *ngIf="List.length else nodata">
            <tr  *ngFor="let data of List;index as i" class="border-b border-r dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700 pt-2">
                <td>{{i+1}}</td>
                <td>{{data.Name}}</td>
                <td>{{data.Age}}</td>
                <td>{{data.Gender}}</td>
                <td>{{data.Education}}</td>
               
                <td class="  text-center">
                    <button type="button" (click)="remove(i)"
                        class="inline-flex items-center  py-2 px-3 text-sm font-bold text-center text-white bg-gradient-to-br from-red-400 to-red-600 rounded-lg shadow-md shadow-gray-300 hover:scale-[1.02] transition-transform">
                        <svg class=" w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                clip-rule="evenodd"></path>
                        </svg>
                        Delete
                    </button>
                </td>
                
            </tr>
           
        </tbody>
    </table>

<ng-template #nodata>
   <p>No Data Found</p>
</ng-template>
